build/*
install/*
test/*
test.root
LocalRuns/**
external/lhapdf/*
external/libtorch/*
config/**
!config/config.default
!config/config.root
**/Skim*.json
external/** 
*.onnx
!external/KinematicFitter
!external/jsonpog-integration
!external/RoccoR
**/__pycache__/**
.DS_Store
Run*NanoAOD*

#Temporary Added to my personal temp files
DataCOPY/** 
MCCOPY/**
.vscode/**
.cursor/**
